#contentArea {
    
    max-width: 70%;
}

#backgroundProfile {
background: linear-gradient( #4176a5, #9486d9, #6aab5e);
    
}

#username {
    margin-left: 10%;
    
    position: relative;
}
#avatar {
    background-image: url("https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    border: 1px solid black;

    width:150px;
    height:150px;

    background-size:cover;

    background-position: top center;

    border-radius: 50%;
}


#managment {
    background-color: #74502a;
}

#backgroundProfile {
    width: 390px;
    min-width: 300px;
}





html {
    overflow-x:hidden;
}

#sidebar2 {

    float:right;
    top:0;
    position: relative;

}
    

#Introduction {
    width: 390px;
    min-width: 300px;
}

.imageSideBar {
    width: 40px;
    height: 40px;
    border-radius: 50%;   
}

.profile-pic {

}

#listPost {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
    border-radius: 5px;
}


#listPost > li {
    float:left;
}

#listPost > li a {
    display: block;
    color:White;
    text-align:center;
    padding:14px 18px;
    text-decoration: none;
}

#listPost > li a:hover:not(.active) {
    background-color: #111;
}

#listPost > .active {
    background-color: #04AA6D;
}


#menu > li > a {
    color:black;
}
